@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

$font-color: #ddd;
$background-color: #010101;